{{!-- STARTUP with 2 BASHES
        - go to frontend dir
        - npm start
        - compass watch
        - let the magic happen
--}}
<div>
    <nav>
        <ul>
            <li><a href="">Home</a></li>
            <li>
                <a href="#tech">Technologies</a>
                <ul>
                    <li>
                        <a href="#api"></a>
                    </li>
                    <li>
                        <a href="#frame"></a>
                    </li>
                </ul>
            </li>
            <li><a href="#graph">Graph</a></li>
            <li><a href="#source">Sources</a></li>
        </ul>
    </nav>
    <section id="home">
        <div class="container">
            <a id="home"></a>
            <h1>Raining Cows</h1>
            <p>Discovering the correlation between the climate and the economy.</p>
        </div>
    </section>
    <section id="tech">
        <div class="container">
            <a id="tech"></a>
            <h1>Technologies Used</h1>
            <section id="api">
                <a id="api"></a>
                <h4>API's</h4>
                <div class="box">
                    <div class="tech-body-l">
                        <img class="tech-logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/79/NOAA_logo.svg/2000px-NOAA_logo.svg.png" />
                    </div>
                    <div class="tech-body-r round">
                        <h2>NOAA</h2>
                        <p>For Dem Weather Datas</p>
                    </div>
                </div>
                <div class="box">
                    <div class="tech-body-l">
                        <img class="tech-logo-q round" src="https://upload.wikimedia.org/wikipedia/en/2/26/Quandl-logo.png" />
                    </div>
                    <div class="tech-body-r">
                        <h2>Quandl</h2>
                        <p>All that great commodities data</p>
                    </div>
                </div>
                <div class="box">
                    <div class="tech-body-l">
                        <img class="tech-logo-a round" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1d/AmazonWebservices_Logo.svg/1280px-AmazonWebservices_Logo.svg.png" />
                    </div>
                    <div class="tech-body-r">
                        <h2>Amazon Web Services</h2>
                        <p>For DynamoDB, EC2</p>
                    </div>
                </div>
            </section>
            <section id="frame">
                <a id="frame"></a>
                <h4>FrameWorks</h4>
                <div class="box">
                    <div class="tech-body-l">
                        <img src="" />
                    </div>
                    <div class="tech-body-r">
                        <h2>Node.js</h2>
                        <p>Node.js was used to import data and export data while also serving data to the frontend.</p>
                    </div>
                </div>
                <div class="box">
                    <div class="tech-body-l">
                        <img src="" />
                    </div>
                    <div class="tech-body-r">
                        <h2>D3.js</h2>
                        <p>A graphing framework used to project data collected into a clean slate for easier readability. </p>
                    </div>
                </div>
                <div class="box">
                    <div class="tech-body-l">
                        <img src="" />
                    </div>
                    <div class="tech-body-r">
                        <h2>Compass.js/SASS.js</h2>
                        <p>Compass.js and sass.js helped create a cleaner css when developing this website.</p>
                    </div>
                </div>
            </section>

        </div>
    </section>
    <section id="graph">
        <div class="container">
            <a id="graph"></a>
            <h1>Demo</h1>
        </div>
    </section>
    <section id="source">
        <div class="container">
            <a id="source"></a>
            <h1>Source and References</h1>
        </div>
    </section>
    <footer>
        <div class="container">
            <p>Copyright &copy; 2016 Michael Chiang</p>
            <p>Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use,
                copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:</p>
            <p>The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.</p>
            <p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
                HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</p>
        </div>
    </footer>
</div>