section#graph{
 
  .container{
   background-image: -o-linear-gradient(bottom, #769DBF 0%, #ABC3D1 100%, #8F8C8F 100%);
background-image: -moz-linear-gradient(bottom, #769DBF 0%, #ABC3D1 100%, #8F8C8F 100%);
background-image: -webkit-linear-gradient(bottom, #769DBF 0%, #ABC3D1 100%, #8F8C8F 100%);
background-image: -ms-linear-gradient(bottom, #769DBF 0%, #ABC3D1 100%, #8F8C8F 100%);
background-image: linear-gradient(to bottom, #769DBF 0%, #ABC3D1 100%, #8F8C8F 100%);
  }
   .chart {
        font: 10px sans-serif;
    }
    
    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }
    
    .x.axis path {
        display: none;
    }
    
    .line {
        fill: none;
        stroke: steelblue;
        stroke-width: 1.5px;
    }
    
    .line.min {
        stroke: blue;
        display: none;
    }
    
    .line.max {
        stroke: orange;
        display: none;
    }
    
    .line.avg {
        stroke: green;
        display: none;
    }
    
    .line.comm {
        stroke: black;
    }
    
    rect.pane {
        cursor: move;
        fill: none;
        pointer-events: all;
    }
    
    .overlay {
        fill: none;
        pointer-events: all;
    }
    
    .focus circle {
        fill: none;
        stroke: steelblue;
    }
    
    .table-plus{
        float:right;
    }
    
    
    .table-controller{
        padding:10px;
          .table-box{
        @include span(1 of 2);
    }

        .table-box table{
            display:block;
 
            width:400px;
            height:250px;
            overflow-y:scroll;
        }
        table, th, td{
            border: 1px solid;
            width: 600px;
            margin-left: 80px;
        }
        td{
                 padding: 10px 0px 0px 10px;
        }
        .weathertable td:hover{
            background-color:#d3d3d3;
        }
        
        .commoditiesTable td:hover{
            background-color:#d3d3d3;
        }
        
        
    }
    
    .stat-holder{
    margin: 10px 0px 0px 110px;
    padding: 0px 0px 40px 0px;
    display: block;
    float: left;
    width: 80%;
    border: solid 1px;
        h1{
            text-align:center;
            margin:0px auto;
            padding:0px;
        }
        div{
            padding-left:30px;
        }
    }
    
  .col-two{
   @include span(1 of 2);   
  }
    
}