section#home {

   
    text-align: center;
    .container{
            height: 65vh;
         background-color: black;
    // background-image: url(../images/wheat.png);
    // background-image: url(https://static.pexels.com/photos/55787/pexels-photo-55787.jpeg);
          background-image: url(/images/rooster-bg.png);
          background-size:cover;
          background-repeat:no-repeat;
          background-position: center center;
          
    }
    @include clearfix;
    h1 {
        text-align:left;
    }
    h3 {
        text-align:center;
        margin-top: 130px;
        font-size: 30px;
        transform : scale(1,1.5);
-webkit-transform:scale(1,1.5); /* Safari and Chrome */
-moz-transform:scale(1,1.5); /* Firefox */
-ms-transform:scale(1,1.5); /* IE 9+ */
-o-transform:scale(1,1.5); /* Opera */
    }
    .intro{
        width: 600px;
        padding-top: 100px;
        margin-left: 300px;
    }
}
