section#home {
    height: 90vh;
    background-color: black;
    text-align: center;
    
    background-image: url(../images/wheat.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
    h1 {
        
    }
    h2 {
        
    }
}
