section#home {
    height: 100vh;
    background-color: black;
    text-align: center;
    
    // background-image: url(../images/wheat.png);
    // background-image: url(https://static.pexels.com/photos/55787/pexels-photo-55787.jpeg);
   
       background-image: url(https://static.pexels.com/photos/55787/pexels-photo-55787.jpeg);

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    @include clearfix;
    h1 {
        text-align:left;
    }
    h3 {
        text-align:center;
    }
    .intro{
        width: 525px;
        padding-top: 100px;
        margin-left: 340px;
    }
}
