section#source{
    .box-s{
    display:inline-block;
    text-align:center;
        a{
            text-decoration:none;
        }
        
    }

}


.git-logo{
    height:150px;
    width:150px;
}

.rutgers-logo{
    height:83px;
    float:right;
}

