section#source{
   footer{
        .container{
        background-image: -o-linear-gradient(bottom, #769DBF 0%, #ABC3D1 100%, #8F8C8F 100%);
background-image: -moz-linear-gradient(bottom, #769DBF 0%, #ABC3D1 100%, #8F8C8F 100%);
background-image: -webkit-linear-gradient(bottom, #769DBF 0%, #ABC3D1 100%, #8F8C8F 100%);
background-image: -ms-linear-gradient(bottom, #769DBF 0%, #ABC3D1 100%, #8F8C8F 100%);
background-image: linear-gradient(to bottom, #769DBF 0%, #ABC3D1 100%, #8F8C8F 100%);
}
   }
    
    // background-image: url(https://static.pexels.com/photos/26998/pexels-photo.jpg);
    // background-color: rgba(89, 90, 92, 0.25);
    .box-s{
    display:block;
    text-align:center;
        a{
            text-decoration:none;
        }
        
    }

}


.git-logo{
    height:150px;
    width:150px;

}

.rutgers-logo{
    // float:left;
    padding-top:15px;
    height:50px;
    display:block;
}

.copyright{
    display:block;
    
}

