section#source{
    
    background-image: url(https://static.pexels.com/photos/26998/pexels-photo.jpg);
    .box-s{
    display:block;
    text-align:center;
        a{
            text-decoration:none;
        }
        
    }

}


.git-logo{
    height:150px;
    width:150px;

}

.rutgers-logo{
    float:left;
    height:50px;
}

